{% load i18n %}
{% load product_tags %}
{% if recommendations %}
<section class="well">
    <div class="sub-header">
        <h2>{{ name }}</h2>
    </div>

    <div class="es-carousel-wrapper">
        <div class="es-carousel">
            <ul class="products">
                {% for recommendation in recommendations %}
                <li>
                    {% include "partials/recommended_product.html" %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endif %}
